/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.config
InstalledFiles
rdoc
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.dropper
.droppper
